---

layout: default
title: "Nehul and Rahul's Blog"
navname: "Home"
description: "Creative Writing Hobbyists"
group: "navigation"
coverimg: "home-bg.jpg"
order: 1

---
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                 {% assign flaggeditems = site.tags.flag  %}
                {% for post in site.posts %}
                  {% if post.tags contains "flag" %}
                  {% assign flaggeditems = flaggeditems %}
                    {% endif %}
      <!--            {% if post.author contains "Nehul" %}
                    <div class="post-preview">
                       <a href="{{ post.url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.description }}
                        </h3>
                       </a>
                      <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> {{ post.date | date_to_string }}</p>
                    </div>
                    <hr>
                    {% endif %}  -->
                {% endfor %}

                {% assign flaggeditems = flaggeditems | sort: "flagorder"%}

                {% for item in flaggeditems %}
                    <div class="post-preview">
                       <a href="{{ item.url }}">
                        <h2 class="post-title">
                            {{ item.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ item.description }}
                        </h3>
                       </a>
                      <p class="post-meta">Posted by <a href="#">{{ item.author }}</a> {{ item.date | date_to_string }}</p>
                    </div>
                    <hr>
                {% endfor %}
                
                <!-- Pager -->
                <ul class="pager">
                <li class="previous">
                        <a href="#">&larr; Newer Posts</a>
                    </li>

                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>